@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ece5dc;
    font-family: 'Source Code Pro', monospace;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #d3bcae;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
}

.column {
    position: relative;
    padding: 0 20px;
    font-size: larger;
}

.left-padding {
    flex: 0.5;
}

.column-left {
    flex: 1.7;
    text-align: left;
    min-width: 600px;
    max-width: 600px;
    /* Take up two-thirds of the available space */
}

.header-divider {
    flex: 0.1;
    max-width: 1px;
    min-width: 1px;
    max-height: 300px;
    min-height: 300px;
    transform: translate(20px, 20px);
    background-color: black;
}

.column-right {
    flex: 1;
    text-align: left;
    min-width: 300px;
    max-width: 300px;
    /* Take up one-third of the available space */
}

.right-padding {
    flex: 0.4;
}

.center-text {
    text-align: justify;
    /* Make the text fill to the edges */
}

.intro {
    font-family: 'Kalam', sans-serif;
    font-size: 1.8em;
}

p.intro {
    margin-top: 10px;
    margin-bottom: 0;
    /* Remove any margin at the bottom */
}

p.center-text {
    margin-top: 0;
    margin-bottom: 0;
}

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

.brown-words {
    color: #890707;
}

.black-words {
    color: black;
}

.purple-words {
    color: rgb(93, 14, 195);
}

.typing-words {
    color: rgb(114, 39, 39);
    text-decoration: none;
    cursor: text;
}

.blue-words {
    color: #01016b;
}

.green-words {
    color: #0e6101;
}

.gray-words {
    color: rgb(83, 66, 66);
}

.profile-img {
    border-radius: 100%;
    max-width: 76%;
    height: auto;
    width: auto\9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    transform: translateY(25px);
}

.filler-bar {
    min-height: 35px;
    max-height: 35px;
}

.dark-filler-bar {
    min-height: 35px;
    max-height: 35px;
    background-color: #d3bcae;
}

.section-header {
    font-size: 22px;
    min-width: 130px;
    max-width: 130px;
    min-height: 50px;
    max-height: 50px;
    border: 1px black solid;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    background-color: #d3bcae;
}

.dark-section-header {
    font-size: 22px;
    min-width: 150px;
    max-width: 150px;
    min-height: 50px;
    max-height: 50px;
    border: 1px black solid;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    background-color: #ece5dc;
}

.section-header-text {
    transform: translate(0px, -9px);
}

.less-margins {
    margin-top: 0px;
}

.dark-block {
    flex: 2.6;
    max-width: 60%;
    min-width: 60%;
    background-color: #d3bcae;
    text-align: left;
    border: 1px black solid;
    border-radius: 30px;

    .tab {
        margin-left: 10px;
        margin-bottom: 4px;
    }

    .tab-2 {
        margin-left: 10px;
        margin-top: 0px;
    }

    font-size: 16px;
}

.light-block {
    flex: 2.6;
    max-width: 60%;
    min-width: 60%;
    background-color: #ece5dc;
    text-align: center;
    border: 1px black solid;
    border-radius: 30px;
    text-align: left;

    p {
        margin-top: 0px;
    }

    .tab {
        margin-left: 40px;
        margin-bottom: 4px;
        text-align: justify;
    }

    .end-tab {
        margin-left: 40px;
        text-align: justify;
    }

    .tab-2 {
        margin-left: 60px;
        margin-top: 0px;
    }

    font-size: 16px;
}

.body-block {
    display: flex;
}

.body-block-right-padding {
    flex: 0.5;
}

.block-boundary {
    border-bottom: 1px black solid;
}

.dark {
    background-color: #d3bcae;
}

h3 {
    margin-bottom: 0
}

.icon-setup {
    width: 30px;
    height: 30px;
    display: inline-block;
    transform: translate(72px, 45px);
}