@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ece5dc;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #d3bcae;
    font-family: 'Source Code Pro', monospace;
    padding-top: 20px;
    padding-bottom: 20px;

}

.column {
    padding: 0 20px;
    font-size: larger;
    /* Add padding as needed */
}

.left-padding {
    flex: 0.6;
}

.column-left {
    flex: 1.7;
    text-align: left;
    min-width: 600px;
    max-width: 600px;
    /* Take up two-thirds of the available space */
}

.column-divider {}

.column-right {
    flex: 1;
    text-align: left;
    min-width: 300px;
    max-width: 300px;
    /* Take up one-third of the available space */
}

.right-padding {
    flex: 0.4;
}

.center-text {
    text-align: justify;
    /* Make the text fill to the edges */
}

.intro {
    font-family: 'Pacifico', cursive;
    font-size: 1.8em;
}

p.intro {
    margin-top: 10px;
    margin-bottom: 0;
    /* Remove any margin at the bottom */
}

p.center-text {
    margin-top: 0;
}

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

.brown-words {
    color: #890707;
}

.typing-words {
    color: rgb(114, 39, 39);
    text-decoration: none;
}

.blue-words {
    color: #01016b;
}

.green-words {
    color: #0e6101;
}

img {
    border-radius: 100%;
    max-width: 76%;
    height: auto;
    width: auto\9;
    padding-top: 25px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}